* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: Arial, sans-serif;
    accent-color: #ffa485bb;
    background: hsla(173, 54%, 73%, 1);
    background: linear-gradient(90deg,
            hsla(173, 54%, 73%, 1) 0%,
            hsla(199, 100%, 64%, 1) 49%,
            hsla(0, 100%, 67%, 1) 100%);
    color: #0a0a0a;
    overflow-x: hidden;
    scrollbar-width: thin;
    transition: all 0.3s ease-in-out;
}

/* Estilo para seleção de texto */
::selection {
    color: #000000fd;
    background-color: #ffa485bb;
}

#logo {
    background-image: url("../../path/logo/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: auto;
    display: block;
    position: absolute;
    width: 160px;
    height: 120px;
    left: -10px;
}

.info-container { display: flex; }
.info-container section {
    height: 100vh;
    width: 100%;
}

.introd-container {
    background: hsla(173, 54%, 73%, 1);
    background: linear-gradient(90deg,
            hsla(173, 54%, 73%, 1) 0%,
            hsla(199, 100%, 64%, 1) 49%,
            hsla(0, 100%, 67%, 1) 100%);
    margin: 0 auto;
    margin-top: 120px;
    max-width: 900px;
    height: 50%;
    padding: 15px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid blue;
}
.introd-container p {
    overflow: hidden;
    display: block;
    position: relative;
    max-width: 980px;
    margin: 0 auto 15px;
    justify-content: center;
    align-items: center;
    /*text-overflow: ellipsis;*/
}
.introd-container p:first-child {
    margin-bottom: 25px;
    max-width: 523px;
}
/* Estilos para telas com largura máxima de 570 pixels */
@media screen and (max-width: 570px) {
    .introd-container p:first-child {
        text-align: center;
    }
}

.introd-container p:last-child:after {
    content: "|";
    background: black;
    border-radius: 1px;
    display: inline-block;
    animation: blink 0.5s linear infinite alternate;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}
.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 80%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #144b9e;
    border-radius: 25px;
}
.icon-scroll:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #144b9e;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}

#toggle-mode {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#toggle-mode span {
    display: block;
    background-image: url("./../../path/icons/darkMode.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.menu-button {
    background-color: #94dfd8;
    border: 1px solid #fc595a;
    position: absolute;
    padding: 4px;
    width: 40px;
    left: 180px;
    bottom: -45px;
    border-radius: 7px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}
.menu-button:hover {
    background-color: #fc595a;
    border: 1px solid #94dfd8;
    transition: 0.3s ease-in-out;
}
.menu-icon {
    cursor: pointer;
    display: block;
}
.menu {
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
}

#chat { display: flex; }

.chat-saves {
    background-color: #95dfd7;
    display: flex;
    min-width: 230px;
    height: 100vh;
    border: 1px solid #b51a2b;
    border-radius: 5px;
    flex-direction: column;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.chat-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.chat-content {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    border-width: 1px;
    border-top-style: solid;
    border-top-color: #b51a2b;
    border-radius: 5px;
}

.menuSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #1f86c7;
    font-size: 13px;
    font-weight: bold;
    border-bottom-width: 3.5px;
    border-bottom-style: solid;
    border-bottom-color: transparent
}
.menuSelect:first-child {
    border-bottom-color: #b51a2b;
}
.menuSelect:hover {
    background-color: #7fd8e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#menuSelected {
    overflow-y: auto;
    /* height: inherit; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #b51a2b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat-history {
    background-color: #95dfd7;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #b51a2b; /* Define a cor da borda inferior */
    /* border-radius: 5px; */
    /* height: inherit; */
    /* height: 89vh; */
    height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Estilos para o Mozilla Firefox */
@-moz-document url-prefix() {
    .introd-container,
    .chat-history,
    .chat-log {
        scrollbar-width: thin;
    }
}

.chat-config {
    display: none;
    padding: 10px;
    font-size: 11px;
    background-color: #95dfd7;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #b51a2b;
    height: 78vh;
}

.type-config {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 12.4px;
}
.check-config, .radio-config {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
}
.check-config input[type="checkbox"] {
    margin-right: 5px;
}

#deleteChat {
    display: block;
    background-color: #ffa586;
    color: #fff;
    border-radius: 5px;
    height: 100%;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
}
.del-config {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25px;
}
.del-config dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #76e1ff;
    padding: 20px;
    width: 778px;
    border: 1px solid #ac3646;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.del-config dialog::backdrop {
    background-color: #00000050;
}
.del-config dialog p {
    margin-bottom: 30px;
    font-size: 14px;
}
.del-config dialog button {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

.cancelButton {
    background-color: #78f1e5;
    color: #4464b1;
}

.confirmButton {
    background-color: #a31727f3;
    color: #fff;
}
.confirmButton:hover {
    border: 1px solid #5e000b;
}

.grup-radio{
    border: 1px solid #aaf7ff6b;
    border-radius: 3px;
    padding-left: 5px;
}
.grup-radio:last-child{
    margin-top: 3px;
}

.radio-config input[type="radio"] {
    display: none;
}
.radio-config label {
    display: inline-block;
    cursor: pointer;
}
.radio-config input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1.5px solid #000000;
    background-color: #ffffffb6;
    border-radius: 50%;
    vertical-align: middle;
}
.radio-config input[type="radio"]:checked + label::before {
    background-color: #ffa586;
}
.radio-config input[type="radio"]:disabled + label::before {
    background-color: #ccc;
    border-color: #949ea8;
    cursor: not-allowed;
    pointer-events: none; /* Impede interações do mouse */
}
.radio-config input[type="radio"]:disabled + label {
    color: #949ea8;
}

.promptInfo{
    border: 1px solid #b51a2b;
    height: 100px;
    width: 208px;
    margin-top: 20px;
    border-radius: 4px;
}
.promptInfo p{
    padding: 3px;
    word-wrap: break-word;
}

#logoChat {
    background-image: url("../../path/logo/ChatTextPT.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    image-rendering: auto;
    display: block;
    position: absolute;
    width: 227px;
    height: 100px;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.chat-info {
    display: block;
    height: 33px;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #77d5e6;
    transition: all 0.2s ease-in-out;
}
.chat-info:hover {
    color: #144b9e;
    background-color: #f85c5e;
    border: 1px solid #8cdcdc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.chat-info:hover:has(.optionActive span) { color: #004f74; }
.chat-info:hover>.chat-option { visibility: visible; }

.chat-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    width: 190px;
    margin-top: 4px;
}

.chat-option {
    background-color: #95dfd7;
    background-image: url("./../../path/icons/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    border: 1px solid #ffa586;
    position: relative;
    /* right: -190px; */
    left: 188px;
    top: -19px;
    width: 15px;
    height: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
}

.chat-option:active {
    border: 1px solid #95dfd7;
}

.optionActive {
    position: relative;
    display: block;
    width: 150px;
    /* height: 66px; */
    border: 1px solid #144b9e;
    border-radius: 5px;
    /* left: 220px; */
    left: 38px;
    margin-top: -43px;
    background-color: #65cfef;
    cursor: default;
    z-index: 3;
}
.optionActive span {
    border: 1px solid #91ded9;
    display: block;
    width: 100%;
    height: 33px;
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.optionActive span:hover {
    background-color: #91ded9;
    color: #144b9e;
    border: 1px solid #000000;
    cursor: pointer;
}

.chat-container {
    /*background-color: #144b9e;
     margin: 0px auto;
    padding: 20px; 
    top: 0px;*/
    position: relative;
    min-width: 0; /* Para garantir que o elemento não seja mais largo que o contêiner pai */
    width: 100%; /* Faz com que o elemento ocupe toda a largura disponível */
    height: 100vh;
    border: 1px solid #82d9e1;
    border-radius: 5px;
}

.chat-start {
    margin: 0px auto;
    max-width: 980px;
    height: -webkit-fill-available;
}

.chat-log {
    background-color: #bf7e92c9;
    position: relative;
    height: 93vh;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #b51a2b;
    border-radius: 5px;
}

.bot-message {
    background-color: #93dfd8;
    color: #1f64b1;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.bot-message:after {
    content: "|";
    background: #1f64b1;
    border-radius: 1px;
    display: inline-block;
    animation: blink 0.5s linear infinite alternate;
}
.bot-message:first-child:after,
.bot-message:has(.copyText):after {
    visibility: hidden;
}
.bot-message:hover > .copyText {
    animation: zoomIn 0.3s ease-in-out forwards; /* Animação para zoom quando exibido */
}

.copyText {
    display: -webkit-inline-box;
    background-image: url("./../../path/icons/copyText.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    position: absolute;
    right: 23px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    animation: zoomOut 0.3s ease-in-out forwards; /* Animação para diminuir o zoom quando o mouse sai */
}

@keyframes zoomIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 50%;
    }
}

@keyframes zoomOut {
    from {
        opacity: 50%;
    }
    to {
        opacity: 0;
    }
}

.copyText.copied::after {
    content: "Copiado!";
    position: absolute;
    width: max-content;
    top: -25px;
    right: 0;
    background-color: rgba(0, 255, 0, 0.7);
    border: 1px solid #1f64b1;
    color: #1f1e30d3;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    transition: opacity 1s ease-in-out;
    opacity: 100%;
}
.copyText.error::after {
    content: "Erro ao copiar!";
    position: absolute;
    width: max-content;
    top: -25px;
    right: 0;
    background-color: rgba(255, 0, 0, 0.7);
    border: 1px solid #1f1e30;
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    transition: opacity 1s ease-in-out;
    opacity: 100%;
}
.copyText.copied:hover {
    transform: scale(1);
    opacity: 100% !important;
}
.copyText.error:hover {
    transform: scale(1);
    opacity: 100% !important;
}
.copyText:hover {
    transform: scale(1.3);
    opacity: 85% !important;
}

.user-message {
    background-color: #f2f2f281;
    color: #4f7cc0;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.scrollDown {
    background-image: url('./../../path/icons/scrollDown.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 75px;
    height: 21px;
    width: 21px;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid #0b3367;
    background-color: #4da9c3;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Adicionando transição de 0.3 segundos para a propriedade opacity */
    opacity: 1; /* Garante que o botão esteja inicialmente visível */
}
.scrollDown.hidden {
    opacity: 0; /* Define a opacidade para 0 quando o botão estiver oculto */
    pointer-events: none; /* Desabilita eventos de clique quando o botão estiver oculto */
}
.scrollDown:active {
    border: 1px solid #65cfef;
}

.user-input {
    position: relative;
    bottom: 0px;
    margin: 0px auto;
    min-width: 0; /* Para garantir que o elemento não seja mais largo que o contêiner pai */
    width: 95%; /* Faz com que o elemento ocupe toda a largura disponível */
    display: flex;
    align-items: center;
}

#user-text {
    background-color: #c54849;
    color: #92ded8;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease;
}
#user-text::placeholder {
    color: #78a8d3;
}

#start-chat,
#send-button {
    padding: 8px 15px;
    background-color: #ffa586;
    border: 1px solid transparent;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#send-button:disabled {
    background-color: #fdd3c4;
    color: #383838;
    cursor: default;
}

/* Estilos para o modo escuro */
body.dark-mode {
    background: rgb(24, 29, 48);
    background: linear-gradient(90deg,
            rgba(24, 29, 48, 1) 0%,
            rgba(36, 47, 73, 1) 50%,
            rgba(181, 26, 43, 1) 100%);
    color: rgb(255, 199, 199);
    transition: all 0.3s ease-in-out;
}
.dark-mode .introd-container p:last-child:after {
    background-color: #ffc7b9;
}
.dark-mode #toggle-mode span {
    background-image: url("./../../path/icons/lightMode.png");
}
.dark-mode button {
    background-color: #ffa586;
    color: #000103;
}
.dark-mode .chat-saves {
    background-color: #151a2c;
}
.dark-mode .menuSelect {
    color: #ffa586;
}
.dark-mode .menuSelect:hover {
    background-color: #1b2237;
}
.dark-mode .chat-history {
    background-color: #151a2c;
}
.dark-mode .chat-config {
    background-color: #151a2c;
}
.dark-mode .del-config dialog {
    background-color: #151a2c;
    border: 1px solid #b51a2b;
}
.dark-mode .del-config dialog p {
    color: #949ea8;
}
.dark-mode .cancelButton {
    background-color: #2f3752;
    color: #ccc;
}
.dark-mode .confirmButton {
    background-color: #a31727f3;
    color: #ccc;
}
.dark-mode .confirmButton:hover {
    border: 1px solid #5e000b;
}
.dark-mode .chat-log {
    background-color: #822236bd;
}
.dark-mode .chat-option {
    background-color: #1f2831;
    border: 1px solid #692439;
}
.dark-mode .chat-info {
    border-bottom-color: #1c2338;
}
.dark-mode .chat-info:hover {
    color: #0000009f;
    background-color: #a81c2e;
    border: 1px solid #000000;
}
.dark-mode .chat-info:hover:has(.optionActive span) {
    color: #ffbca5;
}
.dark-mode .chat-option:active {
    border: 1px solid #151a2c;
}
.dark-mode .optionActive {
    background-color: #181d30;
}
.dark-mode .optionActive span:hover {
    color: #0000009f;
    background-color: #a81c2e;
    border: 1px solid #000000;
}
.dark-mode .chat-container {
    border: 1px solid #1a2136;
}
.dark-mode .bot-message {
    background-color: #1f2831;
    color: #949ea8;
}
.dark-mode .bot-message:after {
    background: #949ea8;
}
.dark-mode .copyText {
    background-image: url("./../../path/icons/copyTextInDark.png");
}
.dark-mode .copyText.copied::after {
    background-color: #242f49;
    border: 1px solid #1f64b1;
    color: #ccc;
}
.dark-mode .copyText.error::after {
    background-color: #b51a2b;
    border: 1px solid #680f18;
    color: #181d30;
}
.dark-mode .user-message {
    color: #1b1b1b;
}
.dark-mode .scrollDown{
    background-image: url('./../../path/icons/scrollDownDark.png');
    border: 1px solid #b51a2b;
    background-color: #3f1622;
}
.dark-mode .scrollDown:active{
    border: 1px solid #1a2035;
}
.dark-mode #user-text {
    background-color: #541b2e;
    color: #949ea8;
}
.dark-mode #user-text::placeholder {
    color: #868686;
}
.dark-mode .icon-scroll {
    box-shadow: inset 0 0 0 1px #b51a2b;
}
.dark-mode .icon-scroll:before {
    background: #b51a2b;
}
.dark-mode .menu-button {
    background-color: #1f2831;
    border: 1px solid #b41a2cc2;
}
.dark-mode .menu-button:hover {
    background-color: #b41a2cc2;
    border: 1px solid #ffa586;
}
.dark-mode .introd-container {
    background: rgb(24, 29, 48);
    background: linear-gradient(90deg,
            rgba(24, 29, 48, 1) 0%,
            rgba(36, 47, 73, 1) 50%,
            rgba(181, 26, 43, 1) 100%);
    border: 1px solid red;
}

/* Este bloco de código CSS personaliza a aparência da barra de rolagem para navegadores baseados em WebKit, como Chrome e Safari.
A aparência varia dependendo do modo de tema (claro ou escuro) definido no corpo (body) do documento. */

/* Define a largura da barra de rolagem */
body:is([class*="dark-mode"]) ::-webkit-scrollbar,
body:not([class*="dark-mode"]) ::-webkit-scrollbar {
    width: 7px;
    scrollbar-gutter: stable; /* Torna o espaço reservado para a barra de rolagem estável */
}

/* Estilo da trilha da barra de rolagem */
body:is([class*="dark-mode"]) ::-webkit-scrollbar-track {
    background: #822236;
    border-radius: 3px;
}
body:not([class*="dark-mode"]) ::-webkit-scrollbar-track {
    background: #d17281;
    border-radius: 3px;
}

/* Estilo da trilha da barra de rolagem ao passar o mouse */
body:is([class*="dark-mode"]) ::-webkit-scrollbar-track:hover,
body:not([class*="dark-mode"]) ::-webkit-scrollbar-track:hover {
    background: transparent; /* Torna a trilha transparente ao passar o mouse */
}

/* Estilo do controle deslizante (a parte que pode ser arrastada) */
body:is([class*="dark-mode"]) ::-webkit-scrollbar-thumb {
    background: #332d46;
    border: 0.5px solid #b51a2b;
    border-radius: 10px;
}
body:not([class*="dark-mode"]) ::-webkit-scrollbar-thumb {
    background: #68d0ee;
    border: 0.5px solid #567cb4;
    border-radius: 10px;
}

/* Estilo do controle deslizante quando hover */
body:is([class*="dark-mode"]) ::-webkit-scrollbar-thumb:hover {
    background: #181d30;
    border: 0.5px solid #db1f34;
}
body:not([class*="dark-mode"]) ::-webkit-scrollbar-thumb:hover {
    background: #00c8ff;
    border: 0.5px solid #93dfd8;
}

/* Estilos específicos para o Mozilla Firefox */
@-moz-document url-prefix() {
    html {
        /* Seletor específico para o Mozilla Firefox */
        scrollbar-color: #931f32 #e36676;
    }
}

/* Este bloco de código CSS verifica se o navegador suporta a propriedade scrollbar-color.
 Se suportado, define as cores da barra de rolagem para o elemento html.*/
@supports (scrollbar-color: auto) {
    /* html {
        scrollbar-color: #931f32 #e36676;
    } */
}

/* Personaliza as cores da barra de rolagem para diferentes modos de tema.
 Se o navegador não suporta a personalização das barras de rolagem, define cores específicas
 para o modo escuro e claro com base na presença da classe dark-mode no corpo (body) do documento. */
@supports not selector(::-webkit-scrollbar) {
    body:is([class*="dark-mode"]) {
        scrollbar-color: #181d30 #822236;
    }
    body:not([class*="dark-mode"]) {
        scrollbar-color: #68d0ee #d17281;
    }
}
